<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>OpenSky</title>
        <meta charset="UTF-8"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container">
            <select id="countries" onchange="if (this.value) window.location.href='/list/?country=' + this.value">
                <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"/>                
            </select>
            <table class="table">
                <thead>
                    <tr>
                        <th> Icao24 </th>
                        <th> Velocity </th>
                        <th> Country </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="airplane : ${airplanes}">
                        <td><span th:text="${airplane.icao24}"> Icao24 </span></td>
                        <td><span th:text="${airplane.velocity}"> Velocity </span></td>
                        <td><span th:text="${airplane.origin_country}"> Country </span></td>

                    </tr>
                </tbody>
            </table>

        </div>

        <script src="/static/js/bootstrap.bundle.min.js" th:href="@{/static/js/bootstrap.bundle.min.js}"></script>

    </body>
</html>
